{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1>Welcome to MyPet</h1>

    <p>You want to create a new pet ? click <a href="{{ path('app_pet_create') }}">here</a></p>
{% endblock body %}